.container {
    display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px;
  margin-left: 260px;

}

h1 {
    color: #2c3e50;
    font-family: 'Gabarito', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 280px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #bdc3c7;
}

th {
    background-color: #27ae60;  
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

td {
    background-color: #ecf0f1;
    color: #34495e;
    font-size: 1rem;
}

tr:nth-child(even) td {
    background-color: #dfe6e9; 
}

tr:hover td {
    background-color: #9bd3c3;  
    color: black;
    transition: background-color 0.3s ease-in-out;
}

.mat-elevation-z8 {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.mat-header-row, .mat-row {
    border-bottom: 1px solid #bdc3c7;
}

.mat-row:hover {
    background-color: #27ae60 !important;  
    transition: background-color 0.3s ease;
}
