<div class="page-container">
  <!-- Título -->
  <h1>Actividades</h1>

  <!-- Contenedor de tarjetas -->
  <div class="cards-container">
    <mat-card *ngFor="let element of pagedData" class="card">
      <!-- Parte superior: Información -->
      <div class="info">
        <p><strong>Fecha de Recepción:</strong> {{element.fecha_recepcion}}</p>
        <p><strong>Puntos:</strong> {{element.puntos}}</p>
        <p><strong>Cantidad:</strong> {{element.cantidad}}</p>
        <p><strong>Tipo de Actividad:</strong> {{element.ta.descripcion}}</p>
      </div>

      <!-- Ícono para eliminar -->
      <mat-icon
        (click)="eliminar(element.idActividad)"
        class="delete-icon"
        style="color:#27ae60"
      >
        delete
      </mat-icon>

      <!-- Dirección -->
      <div class="ubi">
      <p><strong>Ubicación:</strong></p>
     </div>
      <div class="direccion">
        
        {{ element.cr.direccion }}
      </div>

      <!-- Username -->
      <div class="location">
        <p><strong>Username:</strong> {{element.u.username}}</p>
      </div>

      <!-- Botón de editar -->
      <div class="location">
        <a [routerLink]="['ediciones',element.idActividad]" mat-button>
          <mat-icon style="color: #27ae60;">edit</mat-icon> Editar
        </a>
      </div>
    </mat-card>
  </div>

  <!-- Paginador -->
  <mat-paginator
    [length]="actividades.length"
    [pageSize]="4"
    [pageSizeOptions]="[4, 8, 12]"
    aria-label="Select page">
  </mat-paginator>
</div>
