.page-container {
    margin: 30px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    margin-left: 400px; /* Espacio para el sidebar */
    width: calc(100% - 450px); /* Ajuste según el espacio disponible */
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Título */
h1 {
    text-align: center;
    font-size: 3rem;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 35px;
}

/* Contenedor de tarjetas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 tarjetas por fila */
    gap: 10px;
    justify-items: center;
    padding: 0; /* Eliminar el padding superior */
    margin-bottom: 20px;
    background-color: #e8fde6; /* Fondo color claro para el contenedor */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    
}
.location a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Asegura que el color del enlace sea heredado */
}
/* Tarjetas */
.card {
    width: 420px; /* Ancho fijo para cada tarjeta */
    height: 320px; /* Alto fijo para cada tarjeta */
    justify-content: space-between;
    background-color: #9feb98;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s ease-in-out;
    margin-top: 15px;
    
}

/* Efecto hover */
.card:hover {
    transform: translateY(-5px);
}

/* Información */
.info {
    font-size: 1.0rem;
    font-weight: bold;
    text-align: left;
    color: #000000;
    margin-bottom: 8px;
}
.ubi{

    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 10px;
}

.info p {
    margin: 0;
}

/* Ícono de eliminar */
.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 22px;
    color: #eb0808;
    transition: color 0.3s ease, transform 0.3s ease;
}


/* Dirección */
.direccion {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: #27ae60;
    color: white;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    margin-top: -10px;
}

/* Ubicación */
.location {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0px;
}
.username {
    display: flex;
    align-items: flex; /* Alinea verticalmente el contenido */
    font-size: 1rem; /* Ajusta el tamaño del texto */
  }
  
  .user-icon {
    margin-right: 8px; /* Espaciado entre el ícono y el texto */
    font-size: 1.5rem; /* Ajusta el tamaño del ícono para que coincida */
  }


.location button {
    
    background-color: #86d7a8;
    color: rgb(190, 0, 0);
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.location button:hover {
    background-color: #001a2b;
}

/* Paginador debajo de las tarjetas */
.paginator-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

