
mat-form-field{
    width: 60%;
}
.custom-button {

    background-color:#27ae60;
  
    color: white;
  
}

h1 {
    color: #2c3e50;
    font-family: 'Gabarito', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

