<div class="container" style="text-align: center;margin:2%">
    <div><h1>Registro de Actividades</h1></div>
    <div>
      <form [formGroup]="form" (submit)=" insertar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigo" />
        </mat-form-field>
        <br />
        <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fecha"/>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion" />
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" />
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Puntos</mat-label>
            <input matInput placeholder="123..." formControlName="puntos" />
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Cantidad</mat-label>
            <input matInput placeholder="1" formControlName="cantidad" />
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Ubicacion</mat-label>
            <mat-select formControlName="ubicacion">
              @for (c of listaUbicaciones; track c) {
              <mat-option [value]="c.value">{{ c.viewValue }}</mat-option>
              }
            </mat-select>
        </mat-form-field>

        <div>
            <button mat-flat-button class="custom-button">{{ edicion ? 'ACTUALIZAR' : 'REGISTRAR' }}</button>
        </div>
      </form>
    </div>
  </div>
  
