
mat-form-field{
    width: 60%;
}
.custom-button {

    background-color: #a5544e;
  
    color: black;
  
}

h1 {
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

