.page-container {
    margin: 20px;
    padding: 20px;
    font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente según tu preferencia */
    margin-left: 450px; /* Espacio para el sidebar */
    width: calc(100% - 450px); /* Ajuste según el espacio disponible */
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Título */
h1 {
    text-align: center;
    font-size: 2rem;
    color: #2d3436;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 60px;
}
.map-container {
    position: relative; /* Posición relativa para acomodar el mapa */
    z-index: 0; /* Asegura que otros elementos no se solapen */
    margin-bottom: 20px;
    margin-left: 25px;
    padding: 0; /* Sin padding para evitar espacios extra */
    background-color: #f1f1f1;
    border-radius: 8px; /* Bordes redondeados */
    height: 250px; /* Altura del mapa */
    width: 920px; /* Ancho total del contenedor */
    overflow: hidden;
    border: #2d3436 solid 1px; /* Borde con color primordial */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Columnas adaptativas */
    gap: 15px;
    justify-items: center;
    padding: 15px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dfe6e9;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 200px;
    width: 100%;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px); /* Efecto al pasar el ratón */
}

/* Información */
.info {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    color: #2d3436;
    margin-bottom: 8px;
}

.info p {
    margin: 0;
}

/* Ícono de corazón */
.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 22px;
    color: #bdc3c7;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-bottom: 15px;
}

.heart-icon:hover {
    color: #e74c3c; /* Color rojo brillante en hover */
    transform: scale(1.1);
}

/* Dirección */
.direccion {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: #27ae60;
    color: white;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    margin-top: auto;
}


/* Ubicación */
.location {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}

.location button {
    margin-top: 5px;
    background-color: #86d7a8;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.location button:hover {
    background-color: #2980b9;
}
.cards-containermax {
    margin-right: 70px;
}
