<div class="page-container">
  <!-- Título -->
  <h1>Centros de Reciclaje</h1>

  <!-- Mapa interactivo con Leaflet -->

  <div class="map-container" id="map"></div>
  <!-- Mapa de Leaflet -->
  <div class="cards-containermax">
    <!-- Contenedor de tarjetas -->
    <div class="cards-container">
      <mat-card *ngFor="let element of pagedData" class="card">

        <!-- Ícono para eliminar -->
      <div *ngIf="isAdmi()">
        <mat-icon
        (click)="eliminar(element.idCentroReciclaje)"
        class="delete-icon"
        style="color:#000000">
        delete
       </mat-icon>
      </div>
    
       <!-- Botón de editar -->
      <div *ngIf="isAdmi()">
        <a [routerLink]="['ediciones',element.idCentroReciclaje]" mat-button>
          <mat-icon style="color: #000000;" class="edit-icon">edit</mat-icon>
        </a>
      </div>

        <!-- Parte inferior: Dirección -->
        <div class="direccion">
          {{ element.direccion }}
        </div>

        <!-- Mostrar coordenadas de latitud y longitud -->
        <div class="location">
          <p>{{ getFormattedLocation(element) }}</p>
          <button
            mat-button
            (click)="showOnMap(element.latitud, element.longitud)"
          >
            Ver en el mapa
          </button>
        </div>
      </mat-card>
    </div>

  <!-- Paginador -->
  <mat-paginator
    [length]="centros.length"
    [pageSize]="6"
    [pageSizeOptions]="[3, 6, 9]"
    aria-label="Select page"
  ></mat-paginator>
</div>