.custom-toolbar {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre elementos */
}

.menu-button {
    display: flex; 
    align-items: center; 
    justify-content: center; /* Centra el contenido del botón */
    width: 150px; /* Ajusta el ancho del botón según sea necesario */
    height: 80px; /* Ajusta la altura del botón según sea necesario */
    background-color: transparent; /* Evita que el botón tenga un fondo */
    border: none; /* Elimina el borde si no es necesario */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.logo {
    width: 150px; /* Ajusta el ancho según sea necesario */
    height: 80px; /* Ajusta la altura según sea necesario */
    background-image: url('https://i.ibb.co/X8Z8g18/logo.png');
    background-size: contain; /* Mantiene la proporción de la imagen y evita recortes */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: transparent;
    cursor: pointer; /* Cambia el cursor al pasar sobre el logo */
}


.line-1, .line-2 {
    display: block;
    font-weight: bold; 
}
