.logo {
    width: 230px; /* Ajusta el ancho según sea necesario */
    height: 50px; /* Ajusta la altura según sea necesario */
    background-image: url('https://i.ibb.co/X8Z8g18/logo.png');
    background-size: contain; /* Mantiene la proporción de la imagen y evita recortes */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: transparent;
    
}

/* */
.custom-toolbar {
    display: flex;
    align-items: center;
    background-color: rgb(133, 202, 100);
    top: 0; /* Asegura que esté en la parte superior */
    left: 0; /* Asegura que esté alineada a la izquierda */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    z-index: 1; /* Asegura que esté por encima de otros elementos */
    position: fixed; /* Fija la barra de herramientas en la parte superior */
    padding: 20px;
}

.menu-button {
    display: flex; 
    align-items: center; 
    justify-content: center; /* Centra el contenido del botón */
    width: 250px; /* Ajusta el ancho del botón según sea necesario */
    height: 80px; /* Ajusta la altura del botón según sea necesario */
    background-color: transparent; /* Evita que el botón tenga un fondo */
    border: none; /* Elimina el borde si no es necesario */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.spacer {
    flex: 1;
}

.button-noti {
    font-family: Gabarito, sans-serif; /* Fuente personalizada */
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.5);
    margin-right: 50px;
    font-size: 10px;
}

.noti-text {
    font-weight: bold;
    font-family: 'Gabarito', sans-serif;
    font-size: 9px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.button-noticias {
    background-color: transparent;
    transform: scale(1.5);
}


 /* Estilos para el contenedor principal */
 .main-container {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la ventana */    
}

/* Barra lateral */
.sidebar {
    width: 350px;
    height: 100vh;
    background-color: rgb(249, 247, 235);
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 54px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    z-index: 0; /* Asegura que la barra lateral esté por encima de otros elementos */

}

/* Botones del menú */
.menu-item {
    display: flex; /* Usar Flexbox para alinear ícono y texto */
    align-items: center; /* Alinea verticalmente íconos y texto */
    margin-bottom: 7px; /* Espaciado entre los botones */
    background-color: rgb(197, 198, 197);
    justify-content: space-between; /* Alinea íconos y texto de forma equitativa */
    border-radius: 7px; /* Bordes redondeados opcionales */
    width: 100%; /* Asegura que los botones ocupen el ancho completo */
    padding: 6px; /* Espacio interno del botón */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional para un efecto elevado */
}

/* Texto del menú */
.menu-text {
    font-weight: bold;
    font-family: 'Gabarito', sans-serif;
    font-size: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Contenido principal */
.content {
    margin-left: 250px; /* Ajusta el margen izquierdo para dejar espacio a la barra lateral */
    padding: 90px; /* Espaciado interno para el contenido */
    flex-grow: 1; /* Permite que el contenido ocupe el espacio restante */
    height: 100vh; /* Altura completa de la ventana */
    overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
}

/*Logo persona*/
.sidebar-icon {
    text-align: center; /* Centra la imagen dentro de la barra lateral */
    margin-top: auto; /* Empuja la imagen hacia la parte inferior de la barra lateral */
    margin-top: 80px;
    width: 200px;
}

.recycling-icon {
    width: 80%; /* Hace que la imagen ocupe todo el ancho de la barra lateral */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 65px;
}
.menu-toolbar {
    margin-left: 30px;
    display: flex; /* Permite alinear los botones horizontalmente */
    font-family: Gabarito, sans-serif; /* Fuente personalizada */
    transform: scale(1.5);
}

.mat-menu-item {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos del menú a la derecha */
    padding-right: 40px; /* Ajusta el espaciado a la derecha si es necesario */
}

.close {
    font-family: Gabarito, sans-serif; /* Fuente personalizada */
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.15);
    margin-right: 10px;
    font-size: 10px;
    margin-left: 15px;
}
.button-rol {
        background-color: transparent;
        transform: scale(1.5);
        margin: 15px;
        font-size: 10px;
    
}
.button-tipo {
    background-color: transparent;
    transform: scale(1.5);
    margin: 25px;
    font-size: 10px;

}

.button-favoritos {
    background-color: transparent;
    transform: scale(1.5);
    margin: 15px;
    font-size: 10px;

}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
        position: relative;
    }
    .main-container {
        flex-direction: column;
    }
}