<div class="container" style="text-align: center;margin:2%">
    <div><h1>{{  edicion ? 'Actualizar recompensa' : 'Registrar recompensa' }}</h1></div>
    <div>
      <form [formGroup]="form" (submit)=" insertar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo"/>
          <mat-error *ngIf="form.get('hcodigo')?.hasError('required')">
            El codigo es obligatorio
        </mat-error>
      </mat-form-field>
      <br/>

        <mat-form-field class="example-full-width" >
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="hnombre" />
         <mat-error *ngIf="form.get('hnombre')?.hasError('required')">
          El nombre es obligatorio
      </mat-error>
    </mat-form-field>
    <br/>

        <mat-form-field class="example-full-width">
          <mat-label>Descripción de la Recompensa</mat-label>
          <input matInput formControlName="hdescripcion" />
          <mat-error *ngIf="form.get('hdescripcion')?.hasError('required')">
            El descripcion es obligatorio
        </mat-error>
      </mat-form-field>
      <br/>
        <mat-form-field class="example-full-width">
          <mat-label>Código Qr</mat-label>
          <input matInput formControlName="hcodigoqr" />
          <mat-error *ngIf="form.get('hcodigoqr')?.hasError('required')">
            El codigo es obligatorio
        </mat-error>
      </mat-form-field>
      <br/>

        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="hfecha"/>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('hfecha')?.hasError('required')">
            La fecha es obligatoria
        </mat-error>
      </mat-form-field>
      <br/>

        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="hactividad">
            @for (a of listaActividad; track a) {
            <mat-option [value]="a.idActividad">{{ a.u.username }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('hactividad')?.hasError('required')">
            Asignar un usuario es obligatorio
          </mat-error>
        </mat-form-field>
<br/>

        <div>
          <button mat-flat-button class="custom-button">{{ edicion ? 'ACTUALIZAR' : 'REGISTRAR' }}</button>
        </div>
      </form>
    </div>
  </div>
  