.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    padding: 20px;
}
  
  .title {
    margin-top: 10px;
    text-align: right;
    width: 100%;
    font-family: 'Gabarito', sans-serif;
    font-size: 1.5rem;
}
  
  .chart-container {
    display: flex;
    justify-content: flex-end; /* Alinea el gráfico a la derecha dentro del contenedor */
    width: 55%;
    height: 300px;
}
  
  h1 {
    color: #2c3e50;
    font-family: 'Gabarito', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2px;
    margin-top: 60px;

}
  
  canvas {
    max-width: 600px; /* Controla el ancho máximo del gráfico */
    width: 80%; /* Hace que el gráfico ocupe el ancho disponible */
    height: auto ;
  }
  