<div class="container" style="text-align: center;margin:2%">
  <div><h1>{{ edicion ? "Actualizar centro de reciclaje" : 'Registrar centro de reciclaje'}}s</h1></div>
  <div>

    <div class="map-container">
      <google-map [center]="center" [zoom]="zoom">
        <map-marker [position]="markerPosition"></map-marker>
      </google-map>
    </div>

    <form [formGroup]="form" (submit)="insertar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hcodigo" [disabled]="isCliente()" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El codigo es obligatorio
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Campo de Dirección con Autocompletado -->
    <mat-form-field class="example-full-width">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="hdireccion" [disabled]="isCliente()" #direccionInput (input)="onDireccionInput(direccionInput)" placeholder="Buscar dirección..." />
    </mat-form-field>
    <br />

      <mat-form-field class="example-full-width">
        <mat-label>Latitud</mat-label>
        <input matInput formControlName="hlatitud" [disabled]="isCliente()" />
        <mat-error *ngIf="form.get('hlatitud')?.hasError('required')">
          La latitud es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Longitud</mat-label>
        <input matInput formControlName="hlongitud" [disabled]="isCliente()" />
        <mat-error *ngIf="form.get('hlongitud')?.hasError('required')">
          La longitud es obligatoria
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-flat-button class="custom-button">{{ edicion ? 'ACTUALIZAR' : 'REGISTRAR' }}</button>
      </div>

    </form>
  </div>
</div>
