<div class="container">
  <div>
    <h1>Lista de Recompensas</h1>
  </div>
  <div *ngFor="let element of dataSource.data" class="card-container">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>{{element.nombreRecompensa}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ element.descripcionRecompensa }}</p>
        <p>Fecha de Vencimiento: {{ element.fechaVencimiento }}</p>
      </mat-card-content>
      <!-- <mat-card-content>
        <p>Fecha de Publicación: {{ element.codigoQR }}</p>
      </mat-card-content> -->
      <mat-card-actions>
        <button
          mat-icon-button
          color="warn"
          (click)="eliminar(element.idRecompensas)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['ediciones', element.idRecompensas]"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-paginator
    [pageSize]="1"
    [pageSizeOptions]="[1, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>