<div class="container" style="text-align: center" >
<div class="form">
    <div class="logo"></div>
    <h2>Inicie sesión</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        [(ngModel)]="password"
      />
    </mat-form-field>
    <br />
    <button mat-raised-button class="custom-button " (click)="login()">INICIAR SESION</button>
    <div class="register-link">¿No tienes cuenta? <a routerLink="/usuarios/nuevo">Crea una cuenta gratis</a></div>
</div>
    <div class="right-image"></div>
</div>
