.container {
    padding: 60px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    padding-top: 100px;

  }
  
  .profile-header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #c6f5c6;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .profile-icon {
    font-size: 36px;
    color: black;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .username {
    font-size: 20px;
    font-weight: bold;
  }
  
  .edit-button {
    color: #4caf50;
  }
  
  .form-grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
  }
  
  mat-form-field {
    width: 100%;
  }

  mat-form-field input,
mat-form-field textarea,
mat-form-field select {
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #ffffff;
}

mat-form-field input:focus,
mat-form-field textarea:focus,
mat-form-field select:focus {
  outline: none;
  border-color: #4caf50; /* Cambia el color al enfocarse */
}
  
  .custom-button {
    background-color: #c6f5c6;
    color: black;
    grid-column: span 2;
  }
  