<div class="container" style="text-align: center; margin: 2%">
  <div>
    <h1>{{ edicion ? "Actualiza usuario" : "Registrar usuario" }}</h1>
  </div>
  <div>
    <form [formGroup]="form" (submit)="insertar()" novalidate>
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="hcodigo" />
        <mat-error *ngIf="form.get('hcodigo')?.hasError('required')">
          El codigo es obligatorio
      </mat-error>
    </mat-form-field>
    <br/>

      <mat-form-field class="example-full-width">
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="hnombres" />
        <mat-error *ngIf="form.get('hnombres')?.hasError('required')">
          Los nombres son obligatorios
      </mat-error>
    </mat-form-field>
    <br/>

      <mat-form-field class="example-full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="hapellidos" />
         <mat-error *ngIf="form.get('hapellidos')?.hasError('required')">
              Los apellidos son obligatorios
          </mat-error>
        </mat-form-field>
        <br/>
      
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Cliente - Admin"
          formControlName="husername"
        />
        <mat-error *ngIf="form.get('husername')?.hasError('required')">
          El username obligatorio
      </mat-error>
    </mat-form-field>
    <br/>

      <mat-form-field class="example-full-width">
        <mat-label>DNI</mat-label>
        <input matInput placeholder="7266XXXX" formControlName="hdni" />
        <mat-error *ngIf="form.get('hdni')?.hasError('required')">
          El DNI es obligatorio
      </mat-error>
    </mat-form-field>
    <br/>

      <mat-form-field class="example-full-width">
        <mat-label>Edad</mat-label>
        <input matInput placeholder="" formControlName="hedad" />
        <mat-error *ngIf="form.get('hedad')?.hasError('required')">
          La edad es obligatoria
      </mat-error>
    </mat-form-field>
    <br/>

      <mat-form-field>
        <mat-label>Genero</mat-label>
        <mat-select formControlName="hgenero">
          @for (m of listaGenero; track m) {
          <mat-option [value]="m.value">{{ m.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('hgenero')?.hasError('required')">
          El genero es obligatorio
      </mat-error>
    </mat-form-field>
    <br/>

      <mat-form-field class="example-full-width">
        <mat-label>Distrito</mat-label>
        <input matInput placeholder="" formControlName="hdistrito" />
        <mat-error *ngIf="form.get('hdistrito')?.hasError('required')">
          El distrito es obligatorio
      </mat-error>
    </mat-form-field>
    <br/>

      <mat-form-field class="example-full-width">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="987654321" formControlName="htelefono" />
        <mat-error *ngIf="form.get('htelefono')?.hasError('required')">
          El telefono es obligatorio
      </mat-error>
    </mat-form-field>
    <br/>

      <mat-form-field class="example-full-width">
        <mat-label>Correo</mat-label>
        <input
          matInput
          placeholder="example@example.com"
          formControlName="hcorreo"
        />
          <mat-error *ngIf="form.get('hcorreo')?.hasError('required')">
              El correo es obligatorio
          </mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="hpassword"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="togglePasswordVisibility()"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('hpassword')?.hasError('required')">
          El codigo es obligatorio
          </mat-error>
        </mat-form-field>
    <br/>

      <mat-form-field class="rol">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="hroles">
          @for (r of listaRoles; track r) {
          <mat-option [value]="r.idRol">{{ r.nombreRol }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('hroles')?.hasError('required')">
          Asignar un rol es obligatorio
        </mat-error>
      </mat-form-field>
      <br/>

      <mat-checkbox class="example-margin" formControlName="henabled" matInput>
        Activado
      </mat-checkbox>
      <mat-error *ngIf="form.get('henabled')?.hasError('required')">
        Marcar es obligatorio
    </mat-error>
    <br/>

      <div>
        <button mat-flat-button class="custom-button">
          {{ edicion ? "ACTUALIZAR" : "REGISTRAR" }}
        </button>
      </div>
    </form>
  </div>
</div>
