<div class="container">
  <div><h1>Roles</h1></div>
  <div class="cards-container">
    <div class="card" *ngFor="let rol of pagedData">
      <div class="info">
        <p><strong>Código:</strong> {{ rol.idRol }}</p>
        <p><strong>Rol:</strong> {{ rol.nombreRol }}</p>
      </div>
      <div class="action-icons">
        <mat-icon
          class="delete-icon"
          (click)="eliminar(rol.idRol)"
          >delete</mat-icon
        >
        <a [routerLink]="['ediciones', rol.idRol]">
          <mat-icon>edit</mat-icon> Editar
        </a>
      </div>
    </div>
  </div>
</div>
