<div class="container">
  <h1>Roles</h1>
  <div class="card-container">
    <!-- Recorremos los elementos del dataSource para generar una tarjeta por cada rol -->
    <div class="card" *ngFor="let element of dataSource.data">
      <div class="card-header">
        <h2>{{ element.nombreRol }}</h2>

      </div>
      <div class="card-actions">
        <button class="delete-btn" (click)="eliminar(element.idRol)">
          <mat-icon>delete</mat-icon>
        </button>
        <button class="edit-btn" [routerLink]="['ediciones', element.idRol]">
          <mat-icon>edit</mat-icon> 
        </button>
      </div>
    </div>
  </div>
</div>
