.container {
    max-width: 800px; /* Ajustar el ancho del contenedor */
    margin: 0 auto;
    padding: 20px;
    margin-top: 55px;
    font-family: 'Gabarito', sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  /* Contenedor en una columna */
  .card-container {
    display: flex;
    flex-direction: column; /* Alinea en columna */
    gap: 20px; /* Espacio entre las cards */
    align-items: center; /* Centra las tarjetas */
  }
  
  /* Estilo de las tarjetas */
  .card {
    background: linear-gradient(145deg, #e9f7ef, #ffffff); /* Fondo degradado */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    width: 100%; /* Ocupa el ancho completo del contenedor */
    max-width: 400px; /* Tamaño máximo */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px); /* Eleva la tarjeta */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
  }
  
  /* Encabezado de la tarjeta */
  .card-header {
    background: rgb(90, 181, 76); /* Color del encabezado */
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Cuerpo de la tarjeta */
  .card-body {
    padding: 20px;
    color: #34495e;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify; /* Justifica el texto */
  }
  
  /* Sección de acciones */
  .card-actions {
    display: flex;
    justify-content: space-around; /* Espacio entre los botones */
    padding: 10px 20px;
    border-top: 1px solid #ecf0f1;
    background: #f7f7f7; /* Fondo claro */
  }
  
  /* Botones */
  button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f1f1f1; /* Fondo gris claro al pasar el mouse */
  }
  
  /* Botón eliminar */
  .delete-btn {
    color: #000000;
  }
  
  .delete-btn:hover {
    background-color: rgba(205, 56, 39, 0.627); /* Fondo translúcido */
  }
  
  /* Botón editar */
  .edit-btn {
    color: #000000;
  }
  
  .edit-btn:hover {
    background-color: rgba(41, 127, 185, 0.774); /* Fondo translúcido */
  }
  