/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    height: 7vh;
    z-index: 2;
}

.logo {
    width: 250px; /* Ajusta el ancho según sea necesario */
    height: 90px; /* Ajusta la altura según sea necesario */
    background-image: url('https://i.ibb.co/X8Z8g18/logo.png');
    background-size: 220px; /* Mantiene la proporción de la imagen */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: rgb(133, 202, 122); /* Color de fondo verde */
    border-radius: 10px; /* Bordes redondeados opcionales */
    position: relative; /* Para permitir el uso de pseudo-elementos */
    z-index: 3; 
}

/* Sección de bienvenida */
.welcome-section {
    position: relative; /* Asegura que el pseudo-elemento esté posicionado relativo a este contenedor */
    height: 100vh;
    background-image: url('https://i.ibb.co/cF8gXH5/background.png'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Evita que el contenido desborde el contenedor */
}

.welcome-section::before {
    content: '';
    position: absolute; /* Posiciona el pseudo-elemento absolutamente */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad */
    z-index: 1; /* Asegura que el fondo negro esté encima de la imagen de fondo */
}

.welcome-text {
    position: relative; /* Para asegurar que el texto esté sobre el fondo negro */
    padding: 2rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    z-index: 2; /* Asegura que el texto esté por encima del fondo negro */
}

h1, h2 { /* Asegúrate de que el estilo de la letra no cambie */
    font-family: 'Gabarito', sans-serif;
}

h1 {
    font-size: 4rem; /* Ajustar el tamaño según lo desees */
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem; /* Ajustar el tamaño según lo desees */
    margin-bottom: 1.5rem;
    font-weight:lighter;

}

/* Botón de inicio de sesión */
.login-button {
    padding: 0.5rem 1rem;
    background-color: rgb(90, 181, 76);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; 
}

.register-button {
    padding: 0.5rem 2rem;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gabarito', sans-serif;
    font-weight: bold; 
}
