<div class="container">
  <div *ngIf="isAdmi()">
    <div class="title1">
      <h1>Usuarios</h1>
    </div>
    <div *ngFor="let element of pagedData"  class="card-container">
      <mat-icon class="user-icon">account_circle</mat-icon>

      <div class="user-info">
        <p>Username: {{ element.username }}</p>
        <p>Nombre: {{ element.nombres }}</p>
        <p>Apellidos: {{ element.apellidos }}</p>
        <p>Correo: {{ element.correo }}</p>
        <p>Edad: {{ element.edad }}</p>
        <p>Rol: {{ element.rol.nombreRol }}</p>
      </div>
      <div class="action-buttons">
        <button
          class="mat-icon-button"
          (click)="eliminar(element.idUser)"
          aria-label="Eliminar usuario"
        >
          <mat-icon class="accion">delete</mat-icon>
        </button>
        <button
          class="mat-icon-button"
          [routerLink]="['ediciones', element.idUser]"
          aria-label="Editar usuario"
        >
          <mat-icon class="accion">edit</mat-icon>
        </button>
      </div>
    </div>

    <mat-paginator
    [length]="usuarios.length"
    [pageSize]="4"
    [pageSizeOptions]="[4, 8, 12]"
    aria-label="Select page">
  ></mat-paginator>
  </div>

  <div *ngIf="!isAdmi()">
    <div class="title2">
      <h1>Perfil</h1>
    </div>
    <div *ngFor="let element of dataSource.data" class="card-container2">
      <mat-icon class="user-icon2">account_circle</mat-icon>

      <div class="user-info2">
        <p>Username: {{ element.username }}</p>
        <p>Nombre: {{ element.nombres }}</p>
        <p>Apellidos: {{ element.apellidos }}</p>
        <p>Correo: {{ element.correo }}</p>
        <p>Edad: {{ element.edad }}</p>
        <p>Distrito: {{ element.distrito }}</p>
        <p>Género: {{ element.genero }}</p>
        <p>Número de teléfono: {{ element.telefono }}</p>
      </div>
      <div class="action-buttons2">
        <button
          class="mat-icon-button2"
          [routerLink]="['ediciones', element.idUser]"
          aria-label="Editar usuario"
        >
          <mat-icon class="accion2">edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
