.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
}

.title1 {
  text-align: center;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 10px 0;
  background-color: #eaf3e4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user-info {
  flex-grow: 1;
}

.user-info p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.mat-icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.mat-icon {
  font-size: 20px;
  color: #333;
}

.mat-icon.accion:hover {
  color: #27ae60;
}

/* Estilos para el icono al costado izquierdo */
.user-icon {
  font-size: 20px;
  color: #333;
  margin-right: 30px;
  margin-left: 25px;
  transform: scale(3.5);

}
