<div class="container">
  <h1>Tipo de Actividades</h1>
  <div class="card-container">
    <div class="card" *ngFor="let element of dataSource.data">
      <div class="card-header">
        <h2>{{ element.descripcion }}</h2>
      </div>

      <div class="card-actions">
        <button class="delete-btn" (click)="eliminar(element.id_tipo_actividad)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
        <button class="edit-btn" [routerLink]="['ediciones', element.id_tipo_actividad]">
          <mat-icon>edit</mat-icon> Editar
        </button>
      </div>
    </div>
  </div>
</div>
