<div class="container">
    <div><h1>Lista de Tipo de Actividad</h1></div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="c1">           
             <th mat-header-cell *matHeaderCellDef>ID</th>     
             <td mat-cell *matCellDef="let element"> {{element.id_tipo_actividad}} </td>
            </ng-container>
            
            <ng-container matColumnDef="c2">          
             <th mat-header-cell *matHeaderCellDef>Invitacion</th>          
             <td mat-cell *matCellDef="let element"> {{element.invitacion}} </td>          
            </ng-container>
           
            <ng-container matColumnDef="c3">          
             <th mat-header-cell *matHeaderCellDef>Reciclar</th>
             <td mat-cell *matCellDef="let element"> {{element.reciclar}} </td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           
           </table>
    </div>
</div>
