<div class="page-container">
  <!-- Título -->
  <h1>Tipo de Actividades</h1>

  <!-- Contenedor de tarjetas -->
  <div class="cards-container">
    <mat-card *ngFor="let element of pagedData" class="card">
      <!-- Parte superior: Información -->
      <div class="info">
        <p><strong>Código:</strong> {{ element.id_tipo_actividad }}</p>
        <p><strong>Descripción:</strong> {{ element.descripcion }}</p>
      </div>

      <!-- Ícono para eliminar -->
      <div class="action-icons">
        <mat-icon
          (click)="eliminar(element.id_tipo_actividad)"
          class="delete-icon"
          style="color:#d40000; cursor: pointer;"
        >
          delete
        </mat-icon>
      </div>

      <!-- Botón de editar -->
      <div class="action-icons">
        <a [routerLink]="['ediciones', element.id_tipo_actividad]" mat-button>
          <mat-icon>edit</mat-icon> Editar
        </a>
      </div>
    </mat-card>
  </div>
</div>
