<div class="container">
    <div>
      <h1>Centros Favoritos</h1>
    </div>
    <div *ngFor="let element of dataSource.data" class="card-container">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <p>Centro de reciclaje: {{ element.centroReciclaje.direccion }} </p>
          <p>Favoritos: {{ element.user.username }}</p>
        </mat-card-content>
   
        <mat-card-actions>
          <button 
            mat-icon-button
            color="warn"
            (click)="eliminar(element.idFavorito)">
            <mat-icon>delete</mat-icon>
          </button>
  
          <button
            mat-icon-button
            color="primary"
            [routerLink]="['ediciones', element.idFavorito]"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>